*.pyc
*.log
*.egg-info
*.swp
/.installed.cfg
/bin
/develop-eggs
/parts
/logs/*
!/logs/.keep
/supervisord.pid
/.mr.developer.cfg
/src/
eggs/
include/
lib/
local/
/docs/build
/docs/*.bat
/docs/doctrees/
/docs/html/
/.coverage
__pycache__
/*.sock
/db.sqlite3
/daemonocle.pid
/share/*
/dist/*
*.code-workspace
.vscode/*